This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [119]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '2VzheJumRp6yX7d5SoAg'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [120]:
import warnings
warnings.filterwarnings('ignore')
import quandl as qd
import pandas as pd
qd.ApiConfig.api_key = '2VzheJumRp6yX7d5SoAg'
### qd.ApiConfig.api_key = "YOUR_KEY_HERE"
### mydata = qd.get("GDP")

In [121]:
# First, import the relevant modules
import  fileinput

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [122]:
### step-1 : collect data fro Frankfurt stock exchange
# get the modules required
import quandl as qd
import pandas as pd

### Validating the API Key
qd.ApiConfig.api_key = '2VzheJumRp6yX7d5SoAg'

### get 2017- FSE/AFX_X stock ingo
data = qd.get('FSE/AFX_X', start_date='2017-01-01', end_date='2017-12-31')
print(data)

             Open   High    Low  Close  Change  Traded Volume   Turnover  \
Date
2017-01-02  34.99  35.94  34.99  35.80     NaN        44700.0  1590561.0
2017-01-03  35.90  35.93  35.34  35.48     NaN        70618.0  2515473.0
2017-01-04  35.48  35.51  34.75  35.19     NaN        54408.0  1906810.0
2017-01-05  35.02  35.20  34.73  35.06     NaN        48412.0  1692326.0
2017-01-06  34.91  35.21  34.91  35.04     NaN        27507.0   964046.0
...           ...    ...    ...    ...     ...            ...        ...
2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0
2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0

           Last Price of the Day Daily Traded Units Daily Turnover
Date
2017-01-02                  None               None           None
2017-01-03                  None               None           None
2017-01-04                  None               None           None
2017-01-05                  None               None           None
2017-01-06                  None               None           None
...                          ...                ...            ...
2017-12-21                  None               None           None
2017-12-22                  None               None           None
2017-12-27                  None               None           None
2017-12-28                  None               None           None
2017-12-29                  None               None           None

[255 rows x 10 columns]

In [123]:
### Step-2
### Importing Necessary modules
import quandl
import pandas as pd

# Validating the API Key
quandl.ApiConfig.api_key = '2VzheJumRp6yX7d5SoAg'

# Fetching 2017's FSE/AFX_X stock data
dataset = quandl.get('FSE/AFX_X', start_date='2017-01-01', end_date='2017-12-31')

# Viewing first 5 rows
dataset.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None

In [124]:
### Step-3
### the Highest & Lowest Opening Price
print("Highest Opening Price : ", dataset['Open'].sort_values(ascending=False)[0])
print("Lowest Opening Price : ", dataset['Open'].sort_values(ascending=True)[0])

Highest Opening Price :  53.11
Lowest Opening Price :  34.0

In [125]:
### step-4
# new Column for the difference between Highest & Lowest Price
dataset['Change In Price'] = dataset['High'] - dataset['Low']
print(dataset['Change In Price'])

Date
2017-01-02    0.95
2017-01-03    0.59
2017-01-04    0.76
2017-01-05    0.47
2017-01-06    0.30
              ...
2017-12-21    0.62
2017-12-22    0.58
2017-12-27    1.13
2017-12-28    0.39
2017-12-29    0.49
Name: Change In Price, Length: 255, dtype: float64

In [126]:
### step-5
### difference between Highest & Lowest stock Price
print("Highest Change In Price : ", dataset['Change In Price'].sort_values(ascending=False)[0])

Highest Change In Price :  2.8100000000000023

In [127]:
### step-6
### average daily trading volume
print("Average of Traded Volume : ", dataset['Traded Volume'].mean())

Average of Traded Volume :  89124.33725490196

In [128]:
### step7
### median value of traded volume
print("Average of Traded Volume : ", dataset['Traded Volume'].median())

Average of Traded Volume :  76286.0